DATABASE_URL="postgresql://postgres:YusGpVuZgFFIRoANXbifeMuFCccYWeeH@interchange.proxy.rlwy.net:27878/railway"
DATABASE_PUBLIC_URL="postgresql://postgres:YusGpVuZgFFIRoANXbifeMuFCccYWeeH@interchange.proxy.rlwy.net:27878/railway"
